<a href="https://colab.research.google.com/github/KelvinLam05/Item-based_collaborative_filtering/blob/main/Item-based_collaborative_filtering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Goal of the project**

Product recommender systems, or recommendation systems, as they are also known are ubiquitous on e-commerce websites these days. They are relatively simple to create and even fairly basic ones can give striking results. In this project, we will build a simple product recommender system in Python, solely using Pandas.

**Load the packages**

In [16]:
# Importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

**Load the data**

We can use the load_sample_data( ) function to load a set of real world data. This imports the transaction items from widely-used Online Retail dataset.

In [17]:
from ecommercetools import utilities

In [18]:
# Load dataset
df = utilities.load_sample_data()

In [19]:
# Examine the data
df.head()

  order_id     sku  ...         country  line_price
0   536365  85123A  ...  United Kingdom       15.30
1   536365   71053  ...  United Kingdom       20.34
2   536365  84406B  ...  United Kingdom       22.00
3   536365  84029G  ...  United Kingdom       20.34
4   536365  84029E  ...  United Kingdom       20.34

[5 rows x 9 columns]

In [20]:
# Overview of all variables, their datatypes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   order_id     541909 non-null  object
 1   sku          541909 non-null  object
 2   description  540455 non-null  object
 3   quantity     541909 non-null  int64
 4   order_date   541909 non-null  datetime64[ns]
 5   unit_price   541909 non-null  float64
 6   customer_id  406829 non-null  float64
 7   country      541909 non-null  object
 8   line_price   541909 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(4)
memory usage: 37.2+ MB

**Examine the most popular products**

We only require a small subset of the fields - the order id, the sku or description, and the quantity of units purchased. We can filter the dataframe down to these columns using the code below.

In [21]:
df_baskets = df[['order_id', 'sku', 'description', 'quantity']]

In [22]:
df_baskets.head()

  order_id     sku                          description  quantity
0   536365  85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1   536365   71053                  WHITE METAL LANTERN         6
2   536365  84406B       CREAM CUPID HEARTS COAT HANGER         8
3   536365  84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4   536365  84029E       RED WOOLLY HOTTIE WHITE HEART.         6

To get a handle on what are the most popular products, we can use groupby( ) and agg( ) to calculate some summary statistics for the products in this dataset. This shows us that the top-selling line is the WHITE HANGING HEART T-LIGHT HOLDER.

In [23]:
df.groupby('description').agg(orders = ('order_id', 'nunique'), quantity = ('quantity', 'sum')).sort_values(by = 'orders', ascending = False).head()

                                    orders  quantity
description
WHITE HANGING HEART T-LIGHT HOLDER    2302     35317
REGENCY CAKESTAND 3 TIER              2169     13033
JUMBO BAG RED RETROSPOT               2135     47363
PARTY BUNTING                         1706     18022
LUNCH BAG RED RETROSPOT               1607     18779

**Create an item matrix**

The primary component of our recommendation engine is a matrix. This states the quantity of units of each item present in each customer’s basket. We can create this matrix easily using the pivot_table( ) function. We will set the order_id as the index column, and we will place each product name in a column, with the quantity of units stored in each cell. Any NaN values will be replaced by zeros.

In [24]:
df_items = df_baskets.pivot_table(index = 'order_id', columns = ['description'], values = 'quantity').fillna(0)

In [25]:
df_items.head()

description   4 PURPLE FLOCK DINNER CANDLES  ...  wrongly sold sets
order_id                                     ...
536365                                  0.0  ...                0.0
536366                                  0.0  ...                0.0
536367                                  0.0  ...                0.0
536368                                  0.0  ...                0.0
536369                                  0.0  ...                0.0

[5 rows x 4223 columns]

**Create product recommendations**

Finally, we can create a little helper function for our recommendation system to make it quick and easy to identify which products are associated with others. First, we use the corrwith( ) function to identify the Pearson correlation coefficient for each product with every other. We then drop the NaN values, and place these in a dataframe sorted by descending correlation.

In [26]:
def get_recommendations(df, item):

  recommendations = df.corrwith(df[item])
  recommendations.dropna(inplace = True)
  recommendations = pd.DataFrame(recommendations, columns = ['correlation']).reset_index()
  recommendations = recommendations.sort_values(by = 'correlation', ascending = False)
    
  return recommendations

To run the function we pass in the dataframe containing our matrix of baskets and items, and the name of the target product. The function will return a product recommendation based on the products most commonly associated with that item.

For the “White Hanging Heart T-Light Holder”, the most correlated item is the “GIN + TONIC DIET METAL SIGN”, so recommending this on the same page or in the same email might boost sales.

In [27]:
recommendations = get_recommendations(df_items, 'WHITE HANGING HEART T-LIGHT HOLDER')

In [28]:
recommendations.head()

                             description  correlation
3918  WHITE HANGING HEART T-LIGHT HOLDER     1.000000
1478         GIN + TONIC DIET METAL SIGN     0.824987
1241  FAIRY CAKE FLANNEL ASSORTED COLOUR     0.820905
1072                  DOORMAT FAIRY CAKE     0.483524
3627              TEA TIME PARTY BUNTING     0.469207